<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Machine Learning </title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='style/nav.css')}}" />
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='style/main.css')}}"  />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    
    <header>
        <nav>  
            <label class="title-menu"> Menu :  </label>

            <div id="nav-item">
                <label> Seleccione su Archivo</label>
                <form action="/load-data"  method="POST">
                    <select class="list-one" name="file-analisis">
                        {% for a  in myList %}
                        <option value={{a}} selected> {{ a }} </option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="menu-item-btn">Load Data </button>
                </form>        
            </div>

            <form  action="/result-arbol"  method="POST">
            <div id="nav-item">
               
                <label>Radius </label>
                <input name="xAxys" id="prediction">  
            </div>
            <div id="nav-item">
              <label> Perimeter </label>
              <input name="yAxys" id="prediction">  

            </div>
            <div id="nav-item">
                <label id="item-vert"> Area</label>
                <input name="prediction" id="prediction">
            </div>
            {% if nameLabel != '' or nameLabel != None  %}
                <div id="nav-item">
                    <input  name="currentFile" id="prediction" value={{nameLabel}}>            
                </div>
            {% else%}
            {% endif %}    

            <div id="nav-item">
                <button  type="submit" id="ejecutar"> Analizar </button>
            </div>
            </form>

            <form action="/"  method="GET">
                <div id="nav-item">
                    <button type="submit"  id="ejecutar"> Resetear </button>
                </div>
            </form>

        </nav>
    </header> 
    <br>
    <div class="special-textarea"> 
        <div class="inputsArea">
            <label class="tag-section"> Area de Grafica </label>
            <br>
            {% if imgPath == '' or imgPath == None %}
                <div></div>
            {% else %}
                <img src="{{ url_for('static', filename=imgPath)}}">    
            {% endif %}
                <!-- <canvas id="myChart"></canvas> -->
        </div>

        <div class="console">
            <section>
                <div class="block-console">
                    <label class="tag-section"> Resultado Predicción</label>
                    {% if outputValue == None %}
                        <textarea disabled id="predict-output" placeholder="Espere su resultado "></textarea>
                    {% else %}
                        <textarea disabled id="predict-output" placeholder="Espere su resultado " >{{outputValue}}</textarea>      
                    {% endif %}
                </di>
            </section>    
        </div>
    </div>


    <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: true,
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
      
       
      
       
    <footer> 
        <div class="footer-left">
            <p> Github : @widjos </p>
            <p> OLC2 &copy 2023  </p>
        </div>    
    </footer>
</body>
    
</html>